[Desktop Entry]
Name=APP-MANAGER
Comment=AppImage Package Manager: Manage AppImages like never before!
Exec=x-terminal-emulator -e sh -c "APP-MANAGER -f; echo; echo 'Press Enter to close...'; read -r"
Icon=APP-MANAGER
Type=Application
Categories=System;Settings;
Terminal=false
StartupNotify=false
Keywords=package;manager;appman;am;terminal;
#StartupWMClass=APP-MANAGER

